<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory.
Adding your branding / colors / css 
Add a custom_head.html-file to your 
layouts/partials-directory. In there you may 
add a <style>-tag, or you may add a <link>-tag 
  referencing your own custom.css (in case you 
  prefer to have a separate .css-file). Check out 
  the style.html-file to find out which CSS-styles 
  are applied by default.
-->

  <style>

#TableOfContents {
  display: block;
  background: transparent;
  padding-bottom: 2rem;
  font-size: 1.2em;

  ul {
    display: list-item;
    padding-left: 0;
    
    &:not(:first-child) {
      display: list-item;
      padding-left: 0.9rem;
      font-size: 95%;
    }
  }

  li {
    display: inherit;
    color: $text-color;

    a {
      color: inherit;
      text-align: left;
      padding: 0;

      &:hover {
        color: $highlight-color;
        background-color: transparent;
      }
    }
  }
}












  </style>